.landing-footer {
    width: 100%;
    background-color: $bg-color;
    box-shadow: -15px 0 15px black;

    &__container {
        padding: 2rem 6.2% 2.5rem 6.2%;

        @include screen(small) {
            padding: 2rem 4% 2.5rem 4%;
        }

        @include screen(medium) {
            padding: 2rem 5% 2.5rem 5%;
        }

        .section-left-side {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .title {
                display: flex;
                flex-direction: row;
                gap: 12px;
                white-space: nowrap;

                .circle {
                    width: 23px;
                    height: 23px;
                    border-radius: 50%;
                    background-color: $color-primary;
                }

                h4 {
                    color: #fff;
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    color: $color-primary;

                    @include screen(small) {
                        font-size: 23px;
                    }
                }
            }

            .line {
                width: 35%;
                border-radius: 12px;
                height: 4.8px;
                background-color: $color-primary;

                @include screen(small) {
                    width: 50%;
                }
            }

            .contact-items {
                margin-top: 2rem;
                width: 96%;
                border-radius: 9px;
                background-color: rgb(51, 49, 49);
                padding: 12px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 20px;

                @include screen(small) {
                    width: 100%;
                    padding: 10px;
                    padding-left: 8px;
                }

                @include screen(medium) {
                    width: 100%;
                    padding: 10px;
                    padding-left: 8px;
                }

                p {
                    color: #fff;
                    font-size: 19.6px;

                    @include screen(small) {
                        font-size: 20px;
                    }

                    .icon {
                        color: $color-primary;
                        font-size: 24px;

                        @include screen(small) {
                            font-size: 25px;
                        }
                    }
                }
            }
        }

        .section-mail {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .title {
                display: flex;
                flex-direction: row;
                gap: 12px;
                white-space: nowrap;

                .icon {
                    color: $color-primary;
                    font-size: 26px;
                }

                h4 {
                    color: #fff;
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    color: $color-primary;

                    @include screen(small) {
                        font-size: 23px;
                    }


                    @include screen(medium) {
                        font-size: 23px;
                    }
                }
            }

            .line2 {
                width: 75%;
                border-radius: 12px;
                height: 5px;
                background-color: $color-primary;
            }

            .formulaire {
                margin-top: 2rem;


                input {
                    width: 90%;
                    height: 3rem;
                    border-radius: 15px;
                    background-color: #e7dfdf;

                    @include screen(small) {
                        width: 94%;
                        margin: 0 auto;
                    }
                }

                .button {
                    margin: 0 auto;

                    button {
                        width: 90%;
                        height: 3rem;
                        color: #383636;
                        font-weight: bold;
                        border-radius: 15px;
                        background-color: $color-primary;
                        border: 0;

                        @include screen(small) {
                            width: 94%;
                            margin-left: 3%;
                        }
                    }
                }
            }
        }
    }
}