.landing-recent {
    width: 100%;
    background-color: $bg-color;
    position: relative;
    z-index: 8;

     &__container{
        padding: 4rem 6.2% 4rem 6.2%;

         .section-header{

            h3{
                color: #fff;
                font-family: $paypen-font;
                font-weight: bold;
                border-left: 5px solid $color-primary;
                height: 45px;
                border-radius: 4px;
                padding-left: 17px;
            }
         }

         .section-content{

             .box{
                width: 98%;

                &__image{
                     width: 100%;
                     height: 21rem;
                     overflow: hidden;
                     border-radius: 12px;
                     background-size: cover;
                     background-position: center center;

                      .sortie{
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;
                        height: 100%;
                        padding: 5px;
                        white-space: nowrap;

                        p{
                            background-color: $bg-color;
                            width: 65%;
                            border-radius: 7px;
                            position: relative;
                            top: 0.2rem;
                            border: 3px solid $color-primary;
                            color: #fff;
                            font-size: 18px;
                            padding: 4px;
                            font-weight: bold;
                            text-align: center;
                        }
                      }
                }

                &__content{
                    margin-top: 1.5rem;
                    padding-left: 0.6rem;
                    padding-right: 0.2rem;

                    .langue{
                        display: flex;
                        flex-direction: row;
                        gap: 10px;

                        h5{
                            color: #fff;
                            border: 2px solid $color-primary;
                            border-radius: 8px;
                            color: $color-primary;
                            padding: 4px 10px 4px 10px;
                            font-size: 17px;
                        }
                    }

                    h4{
                        color: #fff;
                        margin-top: 0.4rem;
                        font-size: 19px;
                        font-weight: 600;
                        letter-spacing: 1.5px;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
             }
         }
     }
}