.comments-card {
    width: 100%;
    background-color: $black-color;
    padding: 18px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 9px;
    margin-top: 44px;
    cursor: pointer;

    .user-profile {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        img {
            width: 48px;
            object-fit: cover;
        }

        h5 {
            color: #fff;
            font-weight: 500;
            position: relative;
            top: 6px
        }
    }

    .coms-value {
        margin-top: 0.4rem;
        padding-left: 58px;
        padding-right: 58px;

        p {
            color: #fff;
        }
    }
}