.dashboard-news {
    width: 79%;
    margin-left: 21%;
    height: max-content;
    overflow: hidden;

    .dashboard-news-content {
        width: 100%;
        // padding: 40px 27px 43px 27px;

        .section-content {
            padding: 40px 25px 43px 25px;
        }
    }
}