.dashboard-category {
    width: 79%;
    margin-left: 21%;
    height: max-content;
    overflow: hidden;

    .dashboard-category-content {
        width: 100%;

        .section-choice {
            display: flex;
            flex-wrap: wrap; //wrap if container if width > 100%
            gap: 22px;
            padding: 25px;

            .button-choice {
                .btn {
                    border: 3.3px solid $color-primary;
                    color: $color-primary;
                    font-size: 16px;
                    border-radius: 12px;
                    font-weight: bold;
                    padding: 8px;
                    padding-left: 18px;
                    padding-right: 18px;
                    white-space: nowrap;

                    &:hover {
                        background-color: $color-primary;
                        color: $bg-color;
                    }
                }

                .active {
                    background-color: $color-primary;
                    color: $bg-color;
                }
            }
        }

        .section-content {
            padding: 40px 25px 43px 25px;
        }
    }
}