.dashboard-list {
    width: 79%;
    margin-left: 21%;
    height: max-content;
    overflow: hidden;

    .dashboard-list-content {
        width: 100%;


        .section-content {
            padding: 40px 25px 43px 25px;
        }
    }
}